<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsupport.dao.base.SysWarningDao">

    <resultMap id="BaseResult" type="com.xsupport.model.base.SysWarning" >
        <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="optionUser" property="optionUser" />
        <result column="exceptionLocation" property="exceptionLocation" />
        <result column="exceptionDescription" property="exceptionDescription" />
        <result column="exceptionState" property="exceptionState" />
        <result column="exceptionValue" property="exceptionValue" />
        <result column="limitValue" property="limitValue" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>