<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsupport.dao.manage.SysWarnDao">

    <resultMap id="BaseResult" type="com.xsupport.model.manage.SysWarn" >
        <id column="id" property="id" />
        <result column="createTime" jdbcType="DATE" property="createTime" />
        <result column="updateTime" jdbcType="DATE" property="updateTime" />
        <result column="optionUser" property="optionUser" />
        <result column="exceptionLocation" property="exceptionLocation" />
        <result column="exceptionDescription" property="exceptionDescription" />
        <result column="exceptionState" property="exceptionState" />
        <result column="exceptionValue" property="exceptionValue" />
        <result column="limitValue" property="limitValue" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="exportInfo" resultType="com.xsupport.model.manage.SysWarn">
        SELECT
            DATE_FORMAT(sw.createTime,'%Y-%m-%d %H:%i:%s') AS createTime,
            DATE_FORMAT(sw.updateTime,'%Y-%m-%d %H:%i:%s') AS updateTime,
            sw.optionUser,
            t.name AS exportSubName,
            bg.exceptionLocationName AS exceptionLocationName,
            IF(sw.exceptionState = 0,'正常','异常') AS exportState,
            CONCAT(sw.exceptionValue,' ',bg.unit) AS exportValue,
            CONCAT(sw.limitValue,' ',bg.unit) AS exportLimitValue
        FROM sys_warn AS sw
        LEFT JOIN big_type bg ON bg.type = sw.exceptionLocation
        LEFT JOIN type t ON t.bigType = sw.exceptionLocation AND t.subIndex = sw.exceptionDescription
        ORDER BY createTime DESC
    </select>

</mapper>